<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Template1</title>
    </head>
    <body>
        <div class="header">
            <div class="header-top">
                <div id="navbar-title" class="navbar-btn font-title"> Titre du produit </div>
                <div class="navbar-elts">
                    <div class="navbar-btn">Home</div>
                    <div class="navbar-btn">About</div>
                    <div class="navbar-btn">Categories</div>
                </div>
            </div>
            <div class="header-main">
                <div id="background-img"></div>
                <div class="header-main-content">
                    <div class="connex">
                        <div class="connex-btns">
                            <div class="btn">Log in</div>
                            <div class="btn">Sign in</div>
                        </div>
                        <div class="connex-interface">
                            <div class="login hidden">
                                <div class="separator separator-green"></div>
                                <div class="separator separator-green"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="title font-title">Titre du produit</div>
                        <div class="prologue">
                            <p><u>Desciption</u></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nibh elit. Quisque mollis molestie gravida. Donec vestibulum egestas finibus. Praesent mollis viverra dolor a faucibus. </p> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nibh elit. Quisque mollis molestie gravida. Donec vestibulum egestas finibus. Praesent mollis viverra dolor a faucibus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>