* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  html, body {
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
   
  }
  
  .card {
    margin:0 auto;
    width:240px;
    height:320px;
    perspective: 1000px;
    text-align: center;
  }
  
  .card-inner {
    position:relative;
    width: 100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position:absolute;
    height:100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding:16px;
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card-front {
    background-image:url('main.jpg');
    background-size:cover;
    background-position:center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  
  .card-front:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(0deg, black, transparent);
  }
  
  .card-front .card-content {
    z-index: 1;
    color:white;
  }
  
  .card-front .card-content p {
    color:#ececec;
  }
  
  .card-back {
    transform: rotateY(180deg);
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .card-back p {
    margin-top:12px;
  }
  
  .card-back .card-icons {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-back .card-icons a {
    font-size:18px;
    color:white;
    background:black;
    width:42px;
    height:42px;
    border-radius:100%;
    margin:8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition:opacity .2s;
  }
  
  .card-back .card-icons a:hover {
    cursor:pointer;
    opacity:0.7;
  }
  
  .card-front {
    transition: opacity .6s;
  }
  
  .card:hover .card-front {
    opacity:0;
  }




footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-image: url("main.jpg");
    color: #fff;
    font-family: "Arial Black, Gadget, sans-serif";
    font-size: 18px;
} 
