<!DOCTYPE html>
<html>
  <head>
    <title>Flip</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link href="app.component.css" rel="stylesheet" />
  </head>
  <body>
    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <div class="card-content">
            <h2>nom boisson</h2>
          </div>
        </div>
        <div class="card-back">
          <div class="card-top">
          
          </div>
          <p>Follow me on</p>
          <div class="card-icons">
            <p>mettre les ingredients 
            </p>
          </div>
        </div>
      </div>
    </div>

<div>

 
 
  
    
  
  </div>
  </body>
  </html>