
<p>
  cocktail-list works!
</p>
<h3>Liste des cocktails</h3>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


<div>

 
  <footer class="page-footer font-small blue">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"center>MA BARAQUE À COCKTAIL
      <BR>
      <BR> PANDORE Oceanne
      <BR> BOSSE Annabelle
      <BR> MIGNAC Romain  
      <BR> ABOUADAOU Dany 
        
    </div>
    <!-- Copyright -->
  
  </footer>
  
    
  
  </div>
  